.daichi {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.daichi .content {
    flex: 1;
}

.daichi .content h1 {
    color: gray;
}

.daichi .dashboard {
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}