.chapter_card {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.chapter_card .description, .chapter_card .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chapter_card .header .title, .chapter_card .header .sub_title, .chapter_card .description label {
    padding: 10px;
    color: whitesmoke;
    text-align: center;
}

.chapter_card .description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter_card .chapter_wrapper {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    background: crimson;
    color: whitesmoke;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid whitesmoke;
    z-index: 2;
}

.chapter_card .chapter_wrapper .chapter {
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}

.chapter_card .chapter_wrapper label {
    font-size: 12px;
    text-align: center;
}