#chapter {
  background: whitesmoke;
  color: gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#chapter .chapter_content_wrapper {
  position: relative;
  overflow: hidden;
  flex: 1;
  width: 80%;
  margin: 20px auto;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  transition: all .5s ease-in-out;
}

#chapter .chapter_content_wrapper .chapter_header {
  padding: 10px;
  color: whitesmoke;
  font-size: 20px;
  height: 200px;
}

#chapter .chapter_content_wrapper .error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#chapter .chapter_content_wrapper .error .no_content {
  font-weight: normal;
  color: rgb(190, 190, 190);
  text-align: center;
}

#chapter .chapter_content_wrapper .chapter_header .chapter {
  display: block;
  padding: 10px;
  color: whitesmoke;
  font-size: 32px;
  text-align: center;
}

#chapter .chapter_content_wrapper .chapter_header .title {
  text-align: center;
  font-size: 48px;
}
