.composited_table > p {
  padding: 10px;
  text-align: center;
}

.composited_table > table {
  border: 1px solid rgb(206, 206, 206);
  text-align: center;
  margin: 0 auto;
}

.composited_table > table thead .composited_table_header {
  background: crimson;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

.composited_table > table thead {
  background: crimson;
  color: whitesmoke;
}

.composited_table > table thead th {
  padding: 20px 0px 10px 0px;
}

.composited_table > table tbody {
  background: whitesmoke;
}

.composited_table > table tbody th {
  background: crimson;
  color: whitesmoke;
  padding: 20px 0px 10px 0px;
}

.composited_table > table tbody td {
  font-size: 16px;
  padding: 20px 5px;
}
