body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


h1, h2, h3, h4, p {
  margin: 0;
}

/*Averga style of the background image*/

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Furigana applying style*/

span.furigana {
  position: relative;
}

span.furigana::before {
  content: attr(furigana);
  font-size: 50%;
  line-height: 1;
  position: absolute;
  top: -0.5em;
  text-align: center;
  width: 100%;
}